<!DOCTYPE html>
<html>
    <head>
        <title>Frontend_search_test</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="" method="post">

            <div class="input text">
                {{ form.name.label }} {{ form.name }}
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>

        <h1>Artic elements that has a staccato articulation</h1>
        <h3>{{list_match}}</h3>
        <h4>{{measure_num_list}}</h4>

    </body>
</html>