<!DOCTYPE html>

<html>
<title>Project Rechord</title>
<meta charset="UTF-8">
<!--Load css from W3Schools-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--load custom CSS-->
<style>
    body,h1,h2,h3,h4,h5,h6
    {font-family: "Raleway", Arial, Helvetica, sans-serif}

    .myLink
    {display: none}

    input {
    overflow: visible;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    }

    [type=submit] {
    -webkit-appearance: button;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:30%
    }

    .w3-display-middle {
    top: 40%;
    }

    .hidden{
    display:none;
    }


</style>

<!--<body class="w3-light-grey">-->

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
    <!--Logo link-->
    <a href="./" class="w3-bar-item w3-button w3-text-green w3-hover-green"><b><i
            class="fa fa-map-marker w3-margin-right"></i>Project ReChord</b></a>
    <div class="w3-right w3-hide-small">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i> About the prject</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-thumbs-o-up"></i> Q&A</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-github"></i> Github</a>
    </div>
</div>

<!-- Header and menu -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:100%">
    <img class="w3-image"
         src="https://images.unsplash.com/46/unsplash_52c319226cefb_1.JPG?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e925caa5e8aac8b816f768eb9dcebbb&auto=format&fit=crop&w=1653&q=80.jpg"
         alt="musicsheet" width="100%" height="400">
    <div class="w3-display-middle" style="width:65%">
        <div class="w3-bar w3-grey">
            <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Snippet');"><i
                    class="fa fa-book w3-margin-right"></i>MEI Search Engine
            </button>
            <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Term');"><i
                    class="fa fa-sticky-note-o w3-margin-right"></i>Term Search
            </button>
            <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Tempo');"><i
                    class="fa fa-heartbeat w3-margin-right"></i>Tempo Marking
            </button>

            <!-- Tabs -->
            <div id="Snippet" class="w3-container w3-white w3-padding-16 myLink">
                <h3>Paste your MEI snippet here</h3>
                <div class="w3-row-padding" style="margin:0 -2px;">
                    <div class="w3-full">
                        <!--todo: here is the frontend form!-->
                        <form method="POST" enctype="multipart/form-data">
                            <input name="text" placeholder="Paste your MEI Snippet Here" required>
                            <br>
                            <h6><a id="button" href="#">Upload and search in your database</a></h6>
                            <div id="reChord_database">
                                <input type="submit" name="submit" value="Search Snippet In Our Database">
                            </div>


                            <div id="user_database" class="hidden">
                                <br>
                                <input type="file" name="base_file" multiple>
                                <input type="submit" name="submit" value="Upload and Search Your Snippet">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="Term" class="w3-container w3-white w3-padding-16 myLink">
                <h3>Please select the expressive terms to search</h3>
                <form method="POST">
                    <select name="term">
                        <option value="Expressive Terms">Expressive Terms</option>
                        <option value="Tempo Marking">Tempo Marking</option>
                        <option value="Articulation">Articulation</option>
                        <option value="Dynamic Markings">Dynamic Markings</option>
                        <option value="Piano Fingerings">Piano Fingerings</option>
                        <option value="Pedal Marking">Pedal Marking</option>
                        <option value="Hairpin">Hairpin</option>
                    </select>
                    <br>
                    <br>

                    <input class="terms" name="parameter" placeholder="Enter your parameter here:" required>
                    <br>
                    <input type="submit" name="submit" value="Search Parameter">
                </form>
            </div>
            <div id="Tempo" class="w3-container w3-white w3-padding-16 myLink">
                <h3>Please enter the tempo marking</h3>
            </div>
        </div>
    </div>
</header>

<!-- End page content -->
</div>
</div>

<!-- Footer -->
<footer class="w3-container w3-center w3-opacity w3-margin-bottom">
    <h5>Find Us On</h5>
    <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>

<script>
// Tabs
function openLink(evt, linkName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(linkName).style.display = "block";
  evt.currentTarget.className += " w3-green";
}
// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();

//Toggle Options for file upload

$( "#button" ).click(function() {
    $( "#user_database" ).toggle();
    $( "#reChord_database" ).toggle().hide();
});













</script>

</html>
