<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<header class="w3-display-container w3-content w3-hide-small" style="max-width:100%">
    <!--<img class="w3-image" src="https://image.ibb.co/dMZ7J7/musicsheet.jpg" alt="musicsheet" width="100%" height="400">-->
</header>

<!--Load css from W3Schools-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--load custom CSS-->
<style>
    body,h1,h2,h3,h4,h5,h6
    {font-family: "Raleway", Arial, Helvetica, sans-serif}

    .myLink
    {display: none}

</style>

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
    <!--Logo link-->
    <a href="./" class="w3-bar-item w3-button w3-text-green w3-hover-green"><b><i
            class="fa fa-map-marker w3-margin-right"></i>Project ReChord</b></a>
    <div class="w3-right w3-hide-small">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i> About the prject</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-thumbs-o-up"></i> Q&A</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-github"></i> Github</a>
    </div>
</div>


<body>
<div class="container">
    <h2>ReChord MEI Search Engine</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">MEI Snippet</a></li>
        <li><a data-toggle="tab" href="#menu1">Expressive Terms</a></li>
        <li><a data-toggle="tab" href="#menu2">Tempo Marking</a></li>
        <li><a data-toggle="tab" href="#menu3">Other</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>MEI Snippet</h3>
            <p>Please paste your </p>
            {% extends "bootstrap/base.html" %}
            {% import "bootstrap/wtf.html" as wtf %}
            <!--todo: here is some bootrap code-->
            {% block content %}
            <form method="POST" action="/">
                {{ form.csrf_token }}
                <div>{{ wtf.form_field(form.snippet_box) }}</div>
                <input type="submit">
            </form>
            {% endblock %}
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Expressive Terms</h3>
        <!--<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
            consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Tempo Marking</h3>
        <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem-->
            aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
        <h3>Other</h3>
        <!--<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
    </div>
</div>
</div>
</body>

<!--<script>-->
<!--// Tabs-->
<!--function openLink(evt, linkName) {-->
<!--var i, x, tablinks;-->
<!--x = document.getElementsByClassName("myLink");-->
<!--for (i = 0; i < x.length; i++) {-->
<!--x[i].style.display = "none";-->
<!--}-->
<!--tablinks = document.getElementsByClassName("tablink");-->
<!--for (i = 0; i < x.length; i++) {-->
<!--tablinks[i].className = tablinks[i].className.replace(" w3-red", "");-->
<!--}-->
<!--document.getElementById(linkName).style.display = "block";-->
<!--evt.currentTarget.className += " w3-red";-->
<!--}-->
<!--// Click on the first tablink on load-->
<!--document.getElementsByClassName("tablink")[0].click();-->

<!--</script>-->

