<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<!--Load css from W3Schools-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--load custom CSS-->
<style>
    body,h1,h2,h3,h4,h5,h6
    {font-family: "Raleway", Arial, Helvetica, sans-serif}

    .myLink
    {display: none}

</style>

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
    <!--Logo link-->
    <a href="./" class="w3-bar-item w3-button w3-text-green w3-hover-green"><b><i
            class="fa fa-map-marker w3-margin-right"></i>Project ReChord</b></a>
    <div class="w3-right w3-hide-small">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i> About the prject</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-thumbs-o-up"></i> Q&A</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-github"></i> Github</a>
    </div>
    <!--<a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>-->
</div>

<header class="w3-display-container w3-content w3-hide-small" style="max-width:100%">
    <img class="w3-image" src="https://image.ibb.co/dMZ7J7/musicsheet.jpg" alt="musicsheet" width="100%" height="400">

    <div>
    {% extends "bootstrap/base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}

    <!--todo: here is some bootrap code-->
    {% block content %}
    <form method="POST" action="/">
        {{ form.csrf_token }}
        <div>{{ wtf.form_field(form.snippet_box) }}</div>
        <input type="submit">
    </form>
    {% endblock %}
</div>
</header>